.logoD{
    font-size: 1.5rem;
}

.logo{
    font-size: 1.5rem;
    display: none;
}

.logoD::before{
    content: "<";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo::before{
    content: "<";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logoD::after{
    content: "/>";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo::after{
    content: "/>";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

/* TABLET */

@media (max-width:960px){
    .logoD{
        display: none;
    }

    .logo{
        display: block;
        transform: translateX(-90%);
    }
}