.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}

.menu li{
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    transition: border-bottom 0.3s;
}

.menu li:hover {
    border-bottom: 3px solid var(--primary-color);
}

/* TABLET */

@media (max-width:960px){

    .menu{
        display: none;
    }

}