:root{
    --primary-color: #fedc00;
    --icon-color: #252525;;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 68, 68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}

header{
    position: fixed;
    place-self: start center;
    grid-area: content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    z-index: 1;
}

main{
    width: 100%;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--icon-color);
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid var(--primary-color);
    opacity: .3;
    transition: all .7s;
    z-index: 5;
}

.back:hover{
    opacity: 1;
    box-shadow: inset 0px 0px 7px var(--primary-color);
}

section{
    height: 100vh;
}

footer{ 
    place-self: end start;
    grid-area: content;
    height: 50px;
    width: 100%;
    background-color: #0008;
    border-top: 2px solid white;
    display: grid;
    place-content: center;
    font-size: .75rem;
    font-style: italic;
    font-weight: 300;
}

/* TABLET */

@media (max-width:960px){
    
    header{
        place-self: start;
        max-width: 670px;
        width: 100%;
        justify-content: center;
        gap: 100px;
    }

}

/* MOBILE */

@media (max-width:640px){
    
}